
.header{
    color:rgb(81, 81, 112); font-family: "IBM Plex Mono", monospace; font-size: 70px;
   max-width: 800px; margin: 0 auto; text-align: center; margin-top: 200px;
}

body{ 
    background-color: aliceblue ;
    background-size: cover;
}

#keyboard{
    display: block;     
    margin: 0 auto;
    max-width: 800px;
   
}

.text{
    color:rgb(81, 81, 112); font-family: "IBM Plex Mono", monospace; font-size: 20px;
   max-width: 600px; margin: 0 auto; text-align: center; margin-top: 10px;
}